# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
staticfiles/
media/
.env
.env.*

# SQLite database
db.sqlite3

# Virtualenv
venv/
.venv/
env/
.env/
blogenv/

# Mac/Windows
.DS_Store
Thumbs.db

# IDE and test stuff
.vscode/
.idea/
.coverage
htmlcov/
.pytest_cache/